.header {
  /* Layout Plan */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 60vh;
  padding: 20px;
  gap: 20px;
  width: 100px;
  height: 100px;
  margin: 20px 0 0 20px;

  /* Design */
  border: 1px solid #ff6f61;
  border-radius: 40px;
}

.icon {
  margin-top: 20px;
}

/* Desktop */
.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

/* Tablet */
@media (max-width: 1024px) {
  .logo {
    width: 80px;
  }
}

/* Mobil */
@media (max-width: 768px) {
  .logo {
    width: 80px;
  }
}
