.MainPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  transition: padding-left 200ms ease;
}

.WithSidebar {
  padding-left: 160px;
}

.NoSidebar {
  padding-left: 90px;
}
