.MainArea {
  border: 3px solid white;
  width: 100%;
  min-height: 100vh;
  margin: 20px 0 0 20px;
  border-radius: 40px;
}

.Avatar {
  margin: 20px 0 0 20px;
  width: 50px !important;
  height: 50px !important;
}

/* Tablet */
@media (max-width: 1024px) {
  .Avatar {
    width: 40px !important;
    height: 40px !important;
  }
}

/* Mobil */
@media (max-width: 768px) {
  .Avatar {
    width: 30px !important;
    height: 30px !important;
  }
}
